<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThoughtScape</title>
  <link rel="icon" href="/sources/icon.jpg" type="image/icon type">
  <link rel="stylesheet" href="/Templates/style.css">
  <script src="https://kit.fontawesome.com/38055e6d9a.js" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/Templates/main/journal.css">
</head>

<body id="theme" class="light-theme" style="  background-image: url(/sources/bg.jpg); background-repeat: no-repeat; background-size: cover;">

  <center>
    <div class="top">
      <p class="quote" id="quote" style="margin-left: 375px;">Quote</p>
      <a href="#" id="toggle1" class="top-items" style="width: 4%; background-color:transparent ; border: none;"
        onclick="toggletheme()"><img id="toggle2" src="/sources/toggle_moon.svg"></a>
    </div>
  </center>
<H2>Journal</H2>
<p id="greet"></p>
<center>
<div style="color: black;" id="titles-container"></div>
</center>

<script src="/config/get-data.js"></script>
<script src="/config/common.js"></script>

</body>
</html>