
.cbox {
    border-radius: 20px;
    width: 500px;
    height: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px grey;
}


.books{
    margin: 2px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px grey;
}

.books:hover{
    width: 210px;
    height: 310px;
    background-color: gray;
    padding: 5px;
}

.youtube-logo{
    border-radius: 50%;
    width: 100px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px grey;
}

.youtube-logo:hover{
    width: 101px;
    background-color: gray;
    padding: 5px;
}