/* Theme */
.light-theme {
  color: #212529;
  background-color: #d1d1e9;
  overflow-x: hidden;
  margin: 0;
  background-image: url(/assets/images/bg-light.png);
  background-repeat: no-repeat; 
  background-size: cover;
}

.dark-theme {
  color: white;
  background-color: #212529;
  overflow-x: hidden;
  margin: 0;
  background-image: url(/assets/images/bg-dark.png); 
  background-repeat: no-repeat; 
  background-size: cover;
}

/* app.html */
.container1 {
  display: flex;
  display: -webkit-box-flex;
}

.logo1 {
  width: 50%;
  overflow: hidden;
}

.logo2 {
  width: 90%;
  margin-top: 200%;
  overflow: hidden;
}

.navbar {
  margin-left: 0px;
  list-style-type: none;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 60%;
  overflow: auto;
  background-color: white;
}

li a {
  display: block;
  color: #666666;
  width: 60%;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

li a:hover {
  color:#6246ea;
}

.icon{
  width: 15%;
}


/* Journal.html */
.quote{
width: 45%;
padding: 5px;
color: black;
background-color: white;
border-radius: 15px;
box-shadow: 0px 0px 3px 0px grey;
}



.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  background: #6246ea;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #fffffe;
  border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: 2px solid #495057;
}

.fa-plus{
	margin-top:22px;
}
.float:hover {
  background: #fff;
  color: #495057;
}


#boot-logo {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

video {
  width: 100%;
  height: auto;
}


