<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtScape</title> 
    <link rel="icon" href="/sources/icon.jpg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/38055e6d9a.js" crossorigin="anonymous"></script>
  </head>
<body id="theme" class="light-theme" style="background-color: #f3d2c1;">
  <div class="container1">
    <div class="row">
      <center>
        <img class="logo" src="/sources/icon.jpg">
        <ul class="navbar">
          <li><a class="active" href="#" onclick="frame('/Templates/journal.html')"><i class='fas fa-book' style='font-size:20px;'></i> Journal</a></li>
          <li><a href="#" onclick="frame('/Templates/insight.html')"><i class="fa-solid fa-arrow-up-right-dots" style='font-size:20px;'></i> Insights</a></li>
          <li><a href="#" onclick="frame('/Templates/chill-zone.html')"><i class="fa-solid fa-couch"2 style='font-size:20px;'></i> Chill Zone</a></li>
          <li><a href="#" onclick="frame('/Templates/settings.html')"><i class="fa-solid fa-gear" style='font-size:20px;'></i> Settings</a></li>
        </ul>
      </center>
    </div>
  <iframe id="iframe" class="iframe" src="/Templates/journal.html" allowfullscreen="true" width="100%" height="760px" frameborder="0"></iframe>
  
</body>
<script src="script.js"></script> 

</html>