<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtScape</title> 
    <link rel="icon" href="/sources/icon.jpg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>
<body id="theme" class="light-theme">

    <img class="logo" src="/sources/icon_white.jpg">
    <iframe class="Journals" src="/Templates/journal.html"  frameborder="1"></iframe>

  <div class="button">
    <button id="toggle1" type="button" style="width: 6%; background-color:transparent ; border: none;" onclick="toggletheme()"> <img id="toggle2" src="/sources/toggle_moon.svg"></button>
    </div>


  <div style="display: flex;"> 
    <ul class="navbar">
      <li><a class="active" href="#home">Journal</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="/Templates/app.html">Chat</a></li>
      <li><a href="#about">Settings</a></li>
    </ul>

</body>
<script src="script.js"></script> 

</html>