<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>ThoughtScape</title> 
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>

<body id="theme" class="light-theme">
  <i class="bi bi-sun-fill"></i>
  <i class="bi bi-moon-fill"></i>
  <button class="toggle" type="button" onclick="toggletheme()"> i</button>
  <script src="script.js"></script> 

</body>
</html>