<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThoughtScape</title>
</head>
<style>
  body{
    background-image: url(/sources/Screenshot\ 2023-06-16\ at\ 08-24-24\ Untitled\ design.png);
  }
  .started{
    padding: 1%;
  }
</style>
<body>
  <button class="started"><a href="/Templates/app.html" >Get started</a></button>
  <button class="started"><a href="/Templates/login.html">Login</a></button>
</body>
</html>