<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThoughtScape</title>
  <link rel="icon" href="/sources/icon.jpg" type="image/icon type">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/38055e6d9a.js" crossorigin="anonymous"></script>
</head>
<script>
  import { initializeApp } from "firebase/app";
import { getDatabase } from "firebase/database";

// TODO: Replace the following with your app's Firebase project configuration
// See: https://firebase.google.com/docs/web/learn-more#config-object
  // ...
  // The value of `databaseURL` depends on the location of the database
  const firebaseConfig = {
      apiKey: "AIzaSyDead-k6wjCzNLi4gVS9VL4whIIxgexNr8",
      authDomain: "thoughtscape.firebaseapp.com",
      databaseURL: "https://thoughtscape-default-rtdb.firebaseio.com",
      projectId: "thoughtscape",
storageBucket: "thoughtscape.appspot.com",
messagingSenderId: "446236101890",
appId: "1:446236101890:web:496f25d21ea3703cf0861b",
measurementId: "G-VHY3SZK6FN",
databaseURL: "https://thoughtscape-default-rtdb.firebaseio.com/"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);


// Initialize Realtime Database and get a reference to the service
const database = getDatabase(app);


</script>
<style>
  .top {
    display: flex;
    align-items: center;
  }

  .top-items {
    margin-left: 300px;
  }

  .quote {
    width: 45%;
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px grey;
  }
</style>

<body id="theme" class="light-theme">

  <center>
    <div class="top">
      <p class="quote" id="quote" style="margin-left: 375px;">Quote</p>
      <a href="#" id="toggle1" class="top-items" style="width: 6%; background-color:transparent ; border: none;"
        onclick="toggletheme()"><img id="toggle2" src="/sources/toggle_moon.svg"></a>
    </div>
  </center>
<H2>Journal</H2>
<p id="greet"></p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, voluptas! Ducimus doloribus atque, ratione, distinctio quam, rerum assumenda nemo quaerat quos dolorem accusamus! Harum laudantium perferendis exercitationem quaerat alias praesentium.lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius officia reiciendis temporibus laborum exercitationem aspernatur dolor eaque optio impedit assumenda minima animi, ullam illum iusto delectus nobis aut? Provident, esse?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, animi minus porro, nam asperiores sint pariatur culpa accusantium incidunt, veritatis reprehenderit! Ad assumenda iste neque animi, quasi alias saepe odit?

</body>
<script src="script.js"></script>

</html>