<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtScape</title>
    <link rel="icon" href="/sources/icon.jpg" type="image/icon type">
    <link rel="stylesheet" href="style.css">
</head>

<body id="theme" class="light-theme">
<h2>Journal</h2>
<div class="button">
    <button id="toggle1" type="button" style="width: 6%; background-color:transparent ; border: none;" onclick="toggletheme()"> <img id="toggle2" src="/sources/toggle_moon.svg"></button>
    </div>
  <script src="script.js"></script> 


<p id="demo">Quote</p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, excepturi blanditiis ullam quod culpa minima delectus repellat quia fuga perspiciatis, voluptate, nulla iste. Nisi inventore soluta eveniet sit sunt sapiente?
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident rem quas veritatis perferendis iste aperiam aspernatur quod temporibus distinctio dolorum vitae voluptatum, in, cumque ipsum, a quaerat excepturi doloremque? Iusto.l
Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis nisi nemo explicabo id obcaecati eos ad laborum unde eius deserunt deleniti voluptate exercitationem autem molestiae eveniet ratione commodi! Illum.
<script src="script.js"></script> 

</body>
</html>