/* Theme */
.light-theme {
  color: black;
  background-color: #fef6e4;
  overflow-x: hidden;
  margin: 0;
}

.dark-theme {
  color: white;
  background-color: #16161a;
  overflow-x: hidden;
  margin: 0;
}

/* app.html */
.container1 {
  display: flex;
  display: -webkit-box-flex;
}

.logo {
  width: 50%;
  overflow: hidden;

}

.navbar {
  list-style-type: none;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #666666;
  width: 45%;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}

li a.active {
  color:#f582ae;
}

.button {
  width: 100%;
}

.icon{
  width: 15%;
}


/* Journal.html */
.quote{
width: 45%;
background-color: #8bd3dd;
border: #666666;
border-style: groove;
}



/* LOGIN PAGE

 /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}